:root {
  --app-bg: white;
  --background-color: #F2F2F2;
  --text-color: #000000;
  --main-btn-bg: #000000;
  --main-btn-text: #FFFFFF;
  --btn-bg: inherit;
  --btn-text: #D8D8D8;
  --btn-text-selected: #000000;
  --gray-color: #D8D8D8;
  --devider-color: #D8D8D8;
  --input-bg: #FFFFFF;
  --input-focus: #000000;
  --img-selected: #000000;
  --img-deselected: #D8D8D8;
}

[data-theme='dark'] {
  --app-bg: rgb(28, 28, 28);
  --background-color: #424242;
  --text-color: #FFFFFF;
  --main-btn-bg: #FFFFFF;
  --main-btn-text: #000000;
  --btn-bg: inherit;
  --btn-text: #D8D8D8;
  --btn-text-selected: #FFFFFF;
  --gray-color: #D8D8D8;
  --devider-color: #D8D8D8;
  --input-bg: #2c2c2c;
  --input-focus: #FFFFFF;
  --img-selected: #FFFFFF;
  --img-deselected: #787878;
}

.App {
  background-color: var(--app-bg);
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr;
  color: var(--text-color);
}


h1 {
  font-family: "Century Gothic", "Futura", "URW Gothic L", "Avantgarde", "Trebuchet MS", sans-serif;
}

/* Deviders */
.Devider {
  height: 1px;
  background-color: var(--gray-color);
  width: 90%;
}

/* Dark mode toggle btn  */
.Dark-Mode-Toggle-BTN {
  position: absolute;
  bottom: 5px;
  left: 5px;
  transform: scale(0.5);
}


